body{
  background-color: #344a72;
  font-family: 'Roboto', sans-serif;
}

.signup-box{
  width: 400px;
  height: 640px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}

h1{
  text-align: center;
  padding-top: 15px;
}

h4{
  text-align: center;
}

form{
  width: 300px;
  margin-left: 40px;
}

form label{
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input{
  width: 100%;
  padding: 5px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

form button{
  width: 320px;
  height: 35px;
  margin-top: 40px;
  border: none;
  background-color: #49c1a2;
  border-radius: 6px;
  color: white;
  font-size: 18px;
}

.para1{
  padding-top: 5px;
  text-align: center;
}

.para2{
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: 15px;
}

.para2 a{
  color: #49c1a2;
}